$transparent: rgba(black, 0);
$white: #FFFFFF;
$black: #000000;
$light-gray: #F7F7F7;
$middle-gray: #E5E5E5;
$dark-gray: #CCCCCC;
$black-gray: #333333;

$primary-color: #57A859;
$secondary-color: #991900;
